.ua:before {content: "UA: "; background: #9F9; padding:4px; border: thin solid green}
.ff:before {content: "FF: "; background: #F99; padding:4px; border: thin solid maroon}
.at:before {content:"AT:"; background: #99F; padding:4px; border: thin solid navy}
      